<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Gift Cards</li>
    <li class="breadcrumb-item">San Francisco</li>
    <li class="breadcrumb-item">Restaurants</li>
    <li class="breadcrumb-item">American</li>
    <li class="breadcrumb-item" aria-current="page"><%= @business.name %></li>
  </ol>
</nav>
