<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Gift Cards</li>
    <li class="breadcrumb-item"><%= @business.address.city %></li>
    <li class="breadcrumb-item"><%= @business.parent_category %></li>
    <li class="breadcrumb-item"><%= @business.categories.first %></li>
    <li class="breadcrumb-item" aria-current="page"><%= @business.name %></li>
  </ol>
</nav>
