<h3>Gift Card Disclosure</h3>

<p>The Giftly Gift Card is redeemed for money
  through the Giftly website. It is not accepted
  by any third-party merchant and is not covered
  by the CARD Act. Giftly Gift Cards never expire
  and there are no inactivity fees.  Please see
  the Terms and Conditions for the complete terms.</p>
