<h4>Help</h4>

<p>If you have questions, need help, or want to
  modify, resend, or cancel a gift, please see our
  <a href='#'>Support Center</a>, where you can access
  an array of self-service tools and our FAQ.
</p>
  <img src="<%= asset_path('giftly-guarantee.png')%>" class="img-fluid" alt="Responsive image">
  <a href='#'><span>100% satisfaction guaranteed</span></a>
