<h1>Buy a Gift Card to <%= @business.name %></h1>

<p>Send a personalized cash gift card that is suggested
  for use at <%= @business.name %>. Any amount up to
  $1,000. Deliver by email, mail, or print at home.</p>

<p>You suggest where to go and what to get— the recipient
  always get what they want.</p>
