<h4>Why buy a gift card using<img src="<%= asset_path('giftly-small-white.png')%>" class="img-fluid" alt="Responsive image">?</h4>

<p>Giftly makes it easy to send a gift card that's
  personal, but also flexible and convenient. It's
  the perfect last minute gift for a birthday,
  graduation, wedding, holiday, and more.</p>

<p>Give any amount up to $1,000 and suggest any
  business, item, or experience you think the
  recipient will enjoy. Deliver in a customized
  greeting card or e-greeting card.</p>

<p>Gifts can be sent electronically by email or text¹ ,
  printed at home, or delivered in the mail.</p>

<p>Your recipient redeems online and chooses how to
  receive the money. They can spend their funds at
  <span class="biz-name"><%= @business.name %></span>, or
  elsewhere if they prefer. There is no physical gift
  certificate to carry around or lose.</p>

<p>Gift cards sent through Giftly never expire and there
  are no fees, so recipients can redeem at any time.</p>

<p>Giftly combines the flexibility and convenience of
  giving money, but includes a thoughtful suggestion that
  makes it more personal.</p>

<button type="button" class="btn px-10 btn-lg btn-primary custom-button" id="example-button">See an example gift ››</button>
