@import "overrides";
@import "bootstrap";
@import "gift_cards";

body {
  background-color: $bg-color;
  margin-bottom: 10px;
  color: $paragraph-text-grey;
  font-weight: 200;
  // font-size: 16px;

  @include media-breakpoint-up(sm) {
      font-size: 1rem;
  }

  @include media-breakpoint-up(md) {
      font-size: 1.5rem; // mobile
  }

  @include media-breakpoint-up(lg) {
      font-size: 1rem; // desktops
  }

  a {
    color: $hyperlink-blue;

    span {
      font-size: 20px;
    }
  }

  a.hyperlink-line{
    text-decoration: underline !important;
  }

  a:hover{
    color: $hyperlink-hover-blue;
    text-decoration: none !important;

  }

  h1 {
    color: $paragpraph-title-juniper;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
  }

  h3 {
    color: $paragpraph-title-juniper;
    font-weight: 200;
    letter-spacing: 1px;
  }

  h4 {
    color: $paragpraph-title-juniper;
    font-weight: 200;
    letter-spacing: 1px;
  }

  h5 {
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 1px;
  }

  h6 {
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1px;
  }
}

.biz-name{
  color: $giftly-orange;
}

.navbar-container {
  background-color: #F2EFEA;
}

.navbar {
  font-weight: 200;
  font-size: 13px;
  color: #988575;

  @include media-breakpoint-up(sm) {
      font-size: 1rem;
  }

  @include media-breakpoint-up(md) {
      font-size: 1.4rem; // mobile
  }

  @include media-breakpoint-up(lg) {
      font-size: .9rem; // desktops
  }

  p {
    margin-bottom: -1px;

    img {
      margin-top: -8px;
    }
  }

  a {
    color: #988575;
    font-weight: 200;
    font-size: 13px;

    @include media-breakpoint-up(sm) {
        font-size: 1rem;
    }

    @include media-breakpoint-up(md) {
        font-size: 1.4rem; // mobile
    }

    @include media-breakpoint-up(lg) {
        font-size: .8rem; // desktops
    }
  }
}

.breadcrumb {
  background-color: $bg-color;
  color: #A5ACAC;
  letter-spacing: 1px;
  font-weight: 200;

  @include media-breakpoint-up(sm) {
      font-size: 1rem;
  }

  @include media-breakpoint-up(md) {
      font-size: 1.3rem; // mobile
  }

  @include media-breakpoint-up(lg) {
      font-size: .8rem; // desktops
  }
}

.alternatives {
  p {
    font-weight: 400;
  }
}

.panel {
  background-color: $card-bg-color;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
}

.greeting-cards {
  margin-top: 15px;
  padding-bottom: $bottom-border-padding;
}

.custom-buy {
  padding-bottom: $bottom-border-padding;
}

.three-links {
  padding-top: 15px;
}

.custom-button {
  margin: 0 auto;
  border: none;
  padding-bottom: 12px;
  padding-top: 12px;
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-align: center;
  display: block;
  font-family: Arial;
}

.border-top-custom {
  border-top: 6px solid $paragpraph-title-juniper !important;
}
