@import "overrides";
@import "bootstrap";
@import "gift_cards";

body {
  background-color: $bg-color;
  margin-bottom: 10px;
  margin-left: -50px;
  margin-right: -50px;
  color: $paragraph-text-grey;
  font-weight: 200;
  font-size: 16px;

  .navbar-container {
    background-color: #F2EFEA;
  }

  a {
    color: $hyperlink-blue;

    span {
      font-size: 20px;
    }
  }

  a.hyperlink-line{
    text-decoration: underline !important;
  }

  a:hover{
    color: $hyperlink-hover-blue;
    text-decoration: none !important;

  }

  h1 {
    color: $paragpraph-title-juniper;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
  }

  h4 {
    color: $paragpraph-title-juniper;
    font-weight: 200;
    letter-spacing: 1px;
  }

  h5 {
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 1px;
  }

  h6 {
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1px;
  }

  div {
  }
}

.biz-name{
  color: $giftly-orange;
}

.navbar-container {
  background-color: #F2EFEA;
}

.navbar {
  // margin-left: -75px;
  // margin-right: -75px;
  //
  // padding-left:75px;
  // padding-right:75px;

  background-color: #F2EFEA;
  font-weight: 200;
  font-size: 13px;
  color: #988575;

  p {
    margin-bottom: -1px;

    img {
      margin-top: -8px;
    }
  }

  a {
    color: #988575;
    font-weight: 200;
    font-size: 13px;
  }
}

.breadcrumb {
  background-color: $bg-color;
  color: #A5ACAC;
  letter-spacing: 1px;
  font-weight: 200;
  font-size: 12px;
}

.alternatives {
  p {
    font-weight: 400;
  }
}

.panel {
  background-color: $card-bg-color;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
}

.greeting-cards {
  margin-top: 15px;
  padding-bottom: $bottom-border-padding;
}

.custom-buy {
  padding-bottom: $bottom-border-padding;
}

.three-links {
  padding-top: 15px;
}

.buy-button {
  background-color: $buy-btn-color;
  margin: 0 auto;
  border: none;
  box-shadow: 0 2px 0 #1a9ab5!important;
  padding-bottom: 12px;
  padding-top: 12px;
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-align: center;
  display: block;
  font-family: Arial;
}

.buy-button:hover{
  background-color: $hyperlink-hover-blue;
}

.example-button {
  background-color: $example-gift-btn-gray;
  margin: 0 auto;
  color: $hyperlink-blue;
  border: none;
  box-shadow: 0 2px 0 #CFD0D1 !important;
  padding-bottom: 12px;
  padding-top: 12px;
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-align: center;
  display: block;
  font-family: Arial;
}

.example-button:hover{
  background-color: $hyperlink-hover-gray;
  color: $hyperlink-blue;
}

.border-top-custom {
  border-top: 6px solid $paragpraph-title-juniper !important;
}


.container-special {
  
}
