$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-base: $font-family-sans-serif !default;
$breadcrumb-divider: quote("›");
$breadcrumb-divider-color: #A5ACAC;
$bg-color: #E8EEF1;
$card-bg-color: #FEFFFF;
$giftly-orange: #F2B031;
$paragraph-text-grey: #505960;
$paragpraph-title-juniper: #6E8F94;
$hyperlink-color: #3DCBE7;
$hyperlink-hover-color: #2794B6;
$body-nav-margin: 75px;
$buy-btn-color: #23BFDF;
@import "bootstrap";
@import "gift_cards";

body {
  background-color: $bg-color;
  margin-bottom: 10px;
  margin-left: $body-nav-margin;
  margin-right: $body-nav-margin;
  color: $paragraph-text-grey;
  font-weight: 200;
  font-size: 15px;

  a {
    color: $hyperlink-color;

    span {
      font-size: 20px;
    }
  }

  a:hover{
    color: $hyperlink-hover-color;
    text-decoration: none !important;
  }

  h1 {
    color: $paragpraph-title-juniper;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
  }

  h4 {
    color: $paragpraph-title-juniper;
    font-weight: 200;
    letter-spacing: 1px;
  }

  .biz-name{
    color: $giftly-orange;
  }
}

.navbar {

  margin-left: -$body-nav-margin;
  margin-right: -$body-nav-margin;

  padding-left:75px;
  padding-right:75px;

  background-color: #F2EFEA;
  font-weight: 200;
  font-size: 13px;
  color: #988575;
  p {
    // padding-bottom: -50px;
    margin-bottom: -1px;

    img {
      margin-top: -8px;
    }
  }

  a {
    color: #988575;
    font-weight: 200;
    font-size: 13px;
  }
}

.breadcrumb {
  background-color: $bg-color;
  color: #A5ACAC;
  letter-spacing: 1px;
  font-weight: 200;
  font-size: 12px;
  padding-left: -5px;
  margin-left: -5px;
}

div {
  background-color: $card-bg-color;
}

.special {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
}

.buy-button {
  background-color: $buy-btn-color;
  border-color: #1A9AB5;
  box-shadow: 0 2px 0 #1a9ab5!important;
  padding-bottom: 12px;
  padding-top: 12px;
  // padding-left: 200px;
  // padding-right: 200px;
  font-size: 16px;
  // margin-left: 30%;
  // margin-right: 30%;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-align: center;
  display: block;
  font-family: Arial;
}
